{% extends "base.html" %}

{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<div class="page-header">
    <h1><a href="/">WG Raspberry 1</a></h1>
</div>

<p><h2>Thermo Control</h2></p>

    {% if thermo_is_heating %}
        <p>
            <span class="label label-success">Heat is ON ({{ thermo_time_since_last_on_mins }} more minutes)</span>
        </p>
        <br >
        <a href="/thermostat/turn_off"><button class="btn btn-large btn-warning" type="button">Turn off</button></a>
    {% else %}
        <a href="/thermostat/turn_on"><button class="btn btn-large btn-success" type="button">Turn on for 30 min</button></a>
    {% endif %}
</p>

    <br>
<p>
    <p><h4>Last Events</h4></p>
    <ul>
    {% for event in thermo_lastevents %}
        <li>{{ event.date_created }}, set to {% if event.is_on %}ON{% else %}OFF{% endif %}</li>
    {% endfor %}
    </ul>
</p>

{% endblock %}

{% block js_bottom %}
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
